#address-bar{
    padding: 25px;
}

#nav_btn {
    background-color: transparent;
    cursor: pointer;
}
#nav_btn:before {
    background: #0277DB ;
}
#nav_btn:hover {
    color: white;
}
.infos_index {
    padding: 10px;
}

.infos_index .col-lg-6 {
    padding-left: 10px;
    padding-right: 10px;
}

.infos_index p {
    text-align: left;
}

.img-center {
    margin: 0 auto;
    padding: 40px 0;
    width : 250px;
}

.collection div{
    text-align: center;
}

.collection .col-md-6 {
    padding: 10px;
}

.btn_partage{
color:white;
font-weight: bold;
background-color: #354c8c;
}

.btn_classement.disabled{
    color :#333;
}
.btn_classement {
    color:white;
    font-weight: bold;
    width: 120px;
    height: 50px;
    background-color: #8BC34A;
}

blockquote {
    color:red;
    text-align: left;
    font-size: 12px;
}

ul.pager li.active {
    color: white;
    background-color: #2bbbad;
}

#tab_classement{
    margin-bottom: 50px;
    text-align: left;
}

.page_classement {
    text-align: center;
}